{% extends base_template %}
{% block title %}Bekräfta Auktionen{% endblock %}
{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'auctions:auction-confirm'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h3>Är du säker på att du vill skapa auktionen?</h3>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-1">
                            <label class="radio">
                             <input type="radio" name="confirm" id="confirmY" value="True" checked>
                                Ja
                                </label>
                            </div>
                            <div class="col-sm-offset-1 col-sm-1">
                            <label class="radio">
                            <input type="radio" name="confirm" id="confirmN" value="False">
                                Nej
                            </label>
                            </div>
                            <br/>
                            <div class="col-sm-offset-1 col-sm-12">
                                <button type="submit" class="btn btn-success">Lämna</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}