<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YAAS - Yet Another Auction Site</title>

  </head>

  <body>

    <!-- Navigation -->
   <div style="text-align: center">
       <h1 style="font-family: cursive">YAAS</h1>
       <p>Yey Another Auction Site</p>
       <a href="{% url 'auctions:index' %}">Go To Application</a><br>
    </div>
  </body>
</html>
