<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}YASS{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="{% url 'auctions:index' %}">YAAS</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'auctions:index' %}"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>&nbsp; Latest</a></li>
                <li class="active"><a href="{% url 'auctions:browse' %}"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Browse</a></li>
                {% if user.is_superuser %}
                <li class="active"><a href="{% url 'auctions:banned' %}"><span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>&nbsp; Banned</a></li>
                {% endif %}
            </ul>
            <form style="padding: 0px 4px;" class="navbar-form navbar-left" role="search" method="get" action="{% url 'auctions:index' %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <form style="padding: 0px 4px;" class="navbar-form navbar-left" role="lang" method="post" action="{% url 'auctions:language' %}">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-control" name="lang">
                        <option value="" >Language</option>
                        <option value="en" >English</option>
                        <option value="fi" >Finnish</option>
                        <option value="sv" >Swedish</option>
                    </select>
                    <button type="submit" class="btn btn-default">Submit</button>
                 </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="{% url 'auctions:myauctions' %}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp; My Auctions
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'users:editprofile' %}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp; Edit Profile
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'auctions:auction-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Auction
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'users:logout'%}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>